

*{
	padding:0;
	margin:0;
	border:0;
}
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
:fokus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block;}
html,body{
	height:100%;
	width:100%;
	font-size:100%;
	line-height:1;
	font-size:14px;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-fokus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}
/*стили для демонстрации*/
*,*:before,*:after{
	padding:0;
	margin:0;
	border:0;
	box-sizing:border-box;
}
font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

html,body{
	height: 100%;
}
body{

}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1 1 auto;
}

/*основные стили*/
.container {/*ограничеваем наш контэйнер(текст,лого,меню) по ширине*/
	max-width: 1236px;
	margin: 0px auto;
	padding: 0px 10px;
}

.header {
	position: fixed;/*фиксация плашки на верху*/
	width:100%;
	top: 0 ;
	left: 0;
	z-index: 50;
}
.header:before{/*оформление плашки на которой находятся логтип,меню,бургер*/
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f5a737;
	z-index: 2;
}

.header_body {/*логтип,меню,бургер*/
	position: relative;
	display: flex;/*буквы поднимаются и заезжают на логотип*/
	justify-content: space-between;/*слова(меню) и логотип разбрасуются в разные стороны*/
	height: 80px;/*плашка уменьшается до 80px*/
	align-items: center;/*выстраеваем контент по горизонтале*/
}
.header_logo {/*оформление логотипа*/
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #ecf0f1;
	outline: hidden;
	position: relative;
	z-index: 3;
}
.header_logo span{
	color:#cd0a2d ;
}


.header_logo img{
	max-width: 30px;
	display: block;/*картинка будет без подрезания*/
}

.header_burger {/*скрываем бургер для размеров выше 767px*/
   display: none;
}

.header_list {
	display: flex;/*колонка с меню превращается в строку и она помещается на плашке*/
	position: relative;
	z-index: 2;
}
.header_list li{/*отступ между словами в меню*/
	list-style: none;
	margin: 0 0 0 20px;
}
.header_link {/*оформление меню(слов)*/
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 48px;
	font-weight: 400;
	color: #ecf0f1;
}

.content {/*отступ текста от шапки сайта*/
	padding: 80px 0 0 0;
}

@media (max-width: 767px){/*медиа запрос для всего что меньше 767px*/
	    body.lock{/*блокируется скрол под выехавшем меню*/
    	overflow: hidden;
    }
    .header_body{/*высота(фиолетовой) шапки уменьшаем до 50px*/
    	height: 50px;
    }
    .header_logo{
      font-size: 10px;
      line-height: 10px;

    }

    .header_logo img{/*уменьшаем лого до 20px*/
  		max-width: 20px;
		display: block;/*картинка будет без подрезания*/
    }

	.header_burger{
		display: block;
		position: relative;
		width: 30px;/*размеры меню бургер*/
		height: 20px;/*размеры меню бургер*/
		position: relative;
		z-index: 3;
	}

	.header_burger span{/*рисуем меню бургер, средняя полоса бургера*/
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;/*поднимаем на 9px нашу полоску*/
		transition: all 0.3s ease 0s;/*добавляет анимацию-бургер медленно превращается в крестик*/
	}

	.header_burger:before,
	.header_burger:after{/*рисуем меню бургер*/
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;/*добавляет анимацию-бургер медленно превращается в крестик*/
	}

	.header_burger:before{/*верхняя полоса бургера*/
		top: 0;
	}
		.header_burger:after{/*нижняя полоса бургера*/
        bottom: 0;
  }

  .header_menu {/*оформление меню при размере меньше 767px*/
	position: fixed;
	top: -100%;/*меню прячется за плашку,пока не нажмешь на бургер*/
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;/*включает скрол, при горизонтальном положении можно будет добраться до всех пунктов меню */
	transition: all 0.3s ease 0s;/*анимация меню(будет выезжать шторка с меню из плашки фиолет.)*/
	background-color: #ffffff;
	padding: 70px 10px 20px 10px;/*отступы меню*/
    margin: 0 0px 0 0px;
}

.header_menu.active{
	top: 0;/*меню появляется при нажатии на бургер*/
}
    /*при нажатии на бургер появляется крестик*/
.header_burger.active span{
   transform: scale(0);/*убираем среднюю палочку*/
}

.header_burger.active:before{/*делаем из бургера крестик*/
	transform: rotate(45deg);
	top: 9px;/*регулируем по высоте палочки, чтобы вышел крестик*/
}
.header_burger.active:after{/*делаем из бургера крестик*/
	transform: rotate(-45deg);
	bottom: 9px;/*регулируем по высоте палочки, чтобы вышел крестик*/
}

.header_list {/*меняем flex на block  строка с меню превращается в колонку*/
  	display: block;
}
.header_list li{
	margin: 0 0 20px 0;/*отступы между словами меню*/
}
.header_link{
	font-size: 24px;/*увеличиваем шрифт меню*/
	color:#cd0a2d ;

}

.content {
	padding: 100px 0 0 0;
}
.content_text {/*содержимое страницы текста*/
	font-size: 18px;
	line-height: 25px;
}
.content_text p{/*отступы между параграфами текста*/
	margin: 0 0 20px 0;
}
}
@media(max-width:767px){
.content{
	padding: 40px 0 0 0;/*возвращаем не место уменьшенной щапки контент*/
}
}
/*-------------------------------------------------------------------------------*/
.main_moto{
	display: flex;
	flex: 100%;
	justify-content: center;
	
	background:             
	            url(../img/rectangle_1_copy_6.png)top right no-repeat,
	            url(../img/rectangle_4_402.png)0 0/cover no-repeat;
	padding: 218px 0 588px 0;
}
.moto_title{
	position: absolute;
	/*font-family: 'Billy Ohio';*/
	font-family: 'Bebas Neue';
	font-size: 115.9px;
	line-height: 95px;
	font-weight: 400;
	text-shadow: 4px 1px 0px rgba(0,0,0,0.5);
	color: #ffffff;
	text-align: center;
}
.moto_img{
	position: relative;
	text-align: center;
}
.moto_img img{
	max-width: 100%;
}
@media(max-width:1200px){
.moto_title{
	font-size: 80px;
}
.main_moto{
	padding: 80px 0 188px 0;
}
}

@media(max-width: 600px){
.moto_title{
	font-size: 50px;
}
}
/*-------------------------------------------------------------------------------*/


.main_moto3 {
	background-color: #ededed;
	padding: 15px 0 213px 0;
}

.moto3_columns {
	display: flex;
	flex-wrap: wrap;
	flex: 100%;
	justify-content: center;

}
.moto3_column {
	flex:0 1 33.333%;

}
.moto3_column_lable{
	position: relative;
}
.moto3_column_lable img{
}
.moto3_column_lable_lable{
	position: absolute;
	top: 186px ;
	left: -20px;
}
.moto3_column_lable_lable img{
}
.moto3_column_lable_lable span{
position: absolute;
font-family: Bebas;
font-size: 36px;
line-height: 1.2;
font-weight: 400;
color: #ffffff;
top: 110px;
left: 20px;
/*font-size: 56.1px*/
}
.moto3_title {
font-family: 'Helvetica Std Cond';
font-size: 26px;
line-height: 1.2;
font-weight: 700;
letter-spacing: -0.025em;
color: #202020;
margin: 50px 0 21px 20px;
}
.moto3_text {
	font-family: Lato;
font-size: 17.8px;
line-height: 24px;
font-weight: 500;
letter-spacing: 0.025em;
color: #676767;
margin:0 20px 37px 20px;
}

.moto3_column_botton {
		font-family: 'Bebas Neue';
font-size: 21.2px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;


background-color: #cd0a2d;
border-radius: 20px;
padding: 11px 20px 11px 20px;
margin-left: 20px;
}

@media(max-width: 1200px){
	.moto3_columns {
}
   .moto3_column {
   	margin-bottom: 40px;
}
}
@media(max-width: 768px){
.main_moto3 {
	background-color: #ededed;
	padding: 15px 0 80px 0;
}
}
/*------------------------------------------------------------------*/

.main_we-are {
}
.we-are_row {
	position: relative;
	display: flex;
	flex: 100%;
	justify-content: center;
}
.we-are_img_motorad{
	position: absolute;
}

.we-are_row_left {
   background:  #cd0a2d;
	padding: 60px 188px 80px 20px;
	flex: 0 1 50%;
   
}
.we-are_title {
	font-family: 'Bebas Neue';
	font-size: 68.2px;
	line-height: 1.2;
	font-weight: 700;
	color: #fcfbfb;
	margin-bottom: 48px;
}

.we-are_columns_left{
}

.we-are_column {
	margin-bottom: 57px;
}
.we-are_subtitle {
	font-family: 'Helvetica Std Cond';
font-size: 26px;
line-height: 1.2;
font-weight: 700;
letter-spacing: -0.025em;
color: #ffffff;
margin-bottom: 17px;
}
.we-are_text {
	opacity: 0.43;
font-family: Lato;
font-size: 17.8px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.025em;
color: #ffffff;
}
.we-are_row_reigt {
	padding: 80px 20px 70px 208px;
	flex:0 1 50%;
}
.we-are_columns_reigt {

}
.we-are_column_reigt {
	margin-bottom: 75px;
	display: flex;
}
.we-are_column_reigt_img {}
.we-are_column_reigt_shild {}
.we-are_column_reigt_name {
	font-family: 'Bebas Neue';
font-size: 47.7px;
line-height: 1.2;
font-weight: 700;
color: #5e5e5e;
}
.we-are_column_reigt_name span {
	font-family: 'Bebas Neue';
font-size: 25px;
line-height: 1.2;
font-weight: 400;
color: #979797;
}
.we-are_column_reigt_text {
	opacity: 0.65;
font-family: Lato;
font-size: 17.8px;
line-height: 26px;
font-weight: 500;
letter-spacing: 0.025em;
color: #040404;
}

@media(max-width: 1000px){
.we-are_row{
	flex-direction: column;
}
.we-are_img_motorad{
	opacity: 0.3;
}
}
@media(max-width: 700px){
.we-are_title {
	font-size: 30px;
}
.we-are_column_reigt_name{
   font-size: 20px;
}
.we-are_column_reigt_name span{
   font-size: 15px;
}
.we-are_row_left {
   padding: 0;
}
.we-are_row_reigt {
   padding: 0;
}
.we-are_column_reigt{
	flex-direction: column;
}
}

/*------------------------------------------------------------------------*/

.main_man {
	background:#ffffff url(../img/place_image_here_510.png)right bottom no-repeat;
}
.man_row {
	
}
.man_up {}
.man_title {
font-family: 'Bebas Neue';
font-size: 68.2px;
line-height: 1.2;
font-weight: 700;
color: #000000;
text-align: center;
margin-bottom: 40px;

}
.man_title span{
color: #cd0a2d;
}
.man_subtitle {
	font-family: Lato;
font-size: 17.8px;
line-height: 26px;
font-weight: 500;
letter-spacing: 0.025em;
color: #5d5c5c;
text-align: center;
margin-bottom: 93px;
}
.man_down {
	display: flex;
	flex-direction: column;
	border: solid 1px ;
	background-color: #ffffff;
	max-width: 570px;
	padding: 55px 80px 100px 80px ;
}
.man_down_img {
	margin-right: 15px;
}
.man_down_info {
	display: flex;
	justify-content: center;
}
.man_down_name{
	flex-direction: column;
}
.man_down_title {
	font-family: Bebas;
font-size: 23.1px;
line-height: 33px;
font-weight: 400;
letter-spacing: 0.005em;
color: #212121;
}
.man_down_subtitle {
	font-family: 'Bebas Neue';
font-size: 20.1px;
line-height: 28px;
font-weight: 400;
letter-spacing: 0.005em;
color: #212121;
margin-bottom: 70px;
}
.man_down_text {
	font-family: Lato;
font-size: 17.8px;
line-height: 26px;
font-weight: 500;
font-style: italic;
letter-spacing: 0.025em;
color: #212121;
max-width: 412px;
}
@media(max-width: 1200px){
	.man_title {
		font-size: 60px;
}
}

@media(max-width: 700px){
	.man_title {
		font-size: 35px;
}
	.man_down{
		padding: 0;
	}
	.man_down_subtitle{
		margin-bottom:20px;
	}

}

/*--------------------------------------------------------------------------*/

.main_since {
	background:	url('../img/layer_3_61.png') no-repeat center,
	            url('../img/rectangle_2_copy_4_153.png') no-repeat center,
	            url('../img/layer_9_151.png')0 0/cover no-repeat;

	padding: 93px 0 146px 0;
}

.since_row {
		            

}
.since_up {
}

.since_up_title {
font-family: 'Bebas Neue';
font-size: 68.2px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
margin-bottom: 33px;
text-align: center;
}
.since_up_title span{
  color: #cd0a2d;
}
.since_up_subtitle{
	font-family: Lato;
font-size: 17.8px;
line-height: 26px;
font-weight: 500;
letter-spacing: 0.025em;
color: #ffffff;
text-align: center;
}
.since_down {
	display: flex;
}
.since_down_left {
}
.since_down_left_labl {
	display: flex;
}
.since_down_left_labl1 {
font-family: 'Bebas Neue';
font-size: 55.1px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_left_labl1 span {
font-family: 'Bebas Neue';
font-size: 28.9px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_left_labl2 {
font-family: 'Bebas Neue';
font-size: 86.6px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_left_labl2 span {
	font-family: 'Bebas Neue';
font-size: 45.5px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_left_text {
	font-family: Lato;
font-size: 17.8px;
line-height: 26px;
font-weight: 500;
letter-spacing: 0.025em;
color: #ffffff;
}
.since_down_reight {
}
.since_down_reight_labl {
	display: flex;
}
.since_down_reight_labl1 {
	font-family: 'Bebas Neue';
font-size: 123.9px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_reight_labl1 span {
font-family: 'Bebas Neue';
font-size: 45.5px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_reight_labl2 {

font-family: 'Bebas Neue';
font-size: 55.1px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_reight_labl2 {

font-family: 'Bebas Neue';
font-size: 55.1px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}
.since_down_reight_labl2 {
	font-family: 'Bebas Neue';
font-size: 28.9px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}

.since_down_reight_text {
	font-family: Lato;
font-size: 17.8px;
line-height: 26px;
font-weight: 500;
letter-spacing: 0.025em;
color: #ffffff;
}

@media(max-width: 800px){
	.since_up_title {
		font-size: 35px;
	}
	.since_down_left_labl1{
		font-size: 30px;
	}
	.since_down_left_labl2{
		font-size: 30px;
	}
	.since_down_reight_labl1{
		font-size: 30px;
	}
	.since_down_reight_labl2{
		font-size: 30px;
	}
}

/*--------------------------------------------------------------------------------*/

.main_travel {
	background-color: #ededed;
	padding: 146px 0 83px 0;
}
.travel_title {
	font-family: 'Bebas Neue';
	font-size: 68.2px;
	line-height: 1.2;
	font-weight: 700;
	color: #1a1919;
	text-align: center;
	margin-bottom: 38px;
}
.travel_subtitle {
	font-family: Lato;
	font-size: 17.8px;
	line-height: 26px;
	font-weight: 500;
	letter-spacing: 0.025em;
	color: #1a1919;
	margin-bottom: 48px;
	text-align: center;
}
.travel_columns {
	display: flex;
	flex: 100%;
	justify-content: center;
}
.travel_column {
	flex:0 1 33.333%;
}
.travel_column_lable{
	position: relative;
}
.travel_column_lable_lable{
	position: absolute;
	top: 186px ;
	left: -20px;
}
.travel_column_lable_lable span{
	position: absolute;
	font-family: 'Bebas Neue';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	top: 100px;
   left: 20px;
}
.travel_column_title {
	font-family: 'Helvetica Std Cond';
	font-size: 26px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.025em;
	color: #202020;
	margin: 52px 20px 21px 20px;

}
.travel_column_text {
	font-family: Lato;
	font-size: 17.8px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.025em;
	color: #676767;
	margin: 0 20px 0 20px;
}
@media(max-width: 1200px){
	.travel_columns {
		flex-direction: column;
		padding: auto;
      margin:0 0 30px 0 ;
}
	.travel_column{
		margin-bottom: 30px;
	}
	.travel_column:last-child{
		margin: 0;
	}
}
@media(max-width: 600px){
	.travel_column_text {
		font-size: 12px;
}
	.travel_title {
		font-size: 35px;
}
}
/*------------------------------------------------------------------------*/

.main_start {
	background: url(../img/rectangle_3_279.png)0 0/cover no-repeat;
	padding: 116px 0 182px 0;
}
.start_row {
	display: flex;
	flex-direction: column;
	flex: 100%;
}
.start_title {
	font-family: 'Bebas Neue';
	font-size: 68.2px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 46px;
	text-align: center;
}
.start_text {
	font-family: Lato;
	font-size: 17.8px;
	line-height: 26px;
	font-weight: 500;
	letter-spacing: 0.025em;
	color: #fefefe;
	text-align: center;
}
@media(max-width: 600px){
.start_title {
	font-size: 35px;
}
}

/*------------------------------------------------------------------------*/

.footer {
	background-color: #ededed ;
	padding: 126px 0 77px 0;

}
.footer_logo-check {
	background: url('../img/__276.png')no-repeat;
}
.footer_row {
}
.footer_up {
	display: flex;
	flex: 100%;
	justify-content: center;
	margin-bottom: 60px;
}
.footer_column {
	flex: 0 1 33.333%;
	display: flex;
	text-align: center;
	margin-right: 200px;
}
.footer_column:last-child {
	margin: 0;
}
.footer_logo {
	margin-right: 30px;
}
.footer_info {}
.footer_info_title {
	font-family: 'Helvetica Std Cond';
	font-size: 26px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.025em;
	color: #181818;
}
.footer_info_text {
	font-family: 'Times New Roman';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #262626;
}
.footer_down {
	
}
.footer_down_social{
	display: flex;
	justify-content: space-around;
}

.footer_logo_logo{
	margin-right: 35px;
	position: relative;
	padding-right: 35px;
}

.footer_logo_elips{
	position: absolute;
	top:-20px ;
	left:-20px ;
}
@media(max-width: 1000px){
.footer_column{
	flex-direction: column;
}
.footer_column:nth-child(3){
	margin-bottom: 100px;
}
.footer_logo {
	margin-right: 0;
	margin-bottom: 5px;
}
}

@media(max-width: 700px){
.footer_up{
	flex-direction: column;
}
.footer_column{
	margin-bottom: 50px;
	margin-right: 0;
}
.footer_down_social{
   flex-direction: column;
   align-items: center;
}
.footer_logo_logo{
	padding-bottom: 70px;
}
}

/*------------------------------------------------------------------------------------*/
.footer-end {
	background-color:#cd0a2d ;
	padding: 47px 0 47px 0;
}
.footer-end_text {
	font-family: 'Times New Roman';
	font-size: 17px;
	line-height: 36px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #ffffff;
	text-align: center;
}
@media(max-width: 700px){
.footer-end {
   padding: 37px 0 37px 0;
}
}



